@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

div {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

#prob_data {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}